<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
<h2 class="bg-primary text-white p-1"> {{ getName()}} 's to DoList </h2>

<div class=" container my-1">
  <input class="form-control" type="text" #todoText />
  <button class= "btn btn-success mt-1" (click)="addItem(todoText.value)"> Add </button>
</div>

<table class="table table-hover table-bordered">

  <thead>
    <tr><th> Index </th><th> Description </th><th> Done </th></tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of getToDoList(); let i = index">
    <td> {{ i + 1}} </td>
    <td> {{ item.action}} </td>
    <td><input type="checkbox" [(ngModel)]="item.done" /></td>
    <td [ngSwitch]="item.done">
      <span *ngSwitchCase="true"> Yes </span>
      <span *ngSwitchDefault> No </span>
      </td>
    </tr>
  </tbody>

</table>

</div>
<router-outlet></router-outlet>
